
// Visually hidden

@mixin visuallyhidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
  border: 0;
}

// Clearfix
@mixin clearfix() {
  &:after {
  	content: "";
  	display: table;
  	table-layout: fixed;
  	clear: both;
	}
}