
/**
  * Custom styles used only for the WordPress theme (not included in the styleguide)
  *
  */
  

/* Logo '50 years' */

.site-branding a.logo-50 img {
  display: none;
}

@media screen and ( min-width: 360px ) {
    
  .site-branding {
  
    a {
      display: inline-block;
      
      &.logo-50 {
        margin-left: 6px;
        
        img {
          display: inline-block;
          position: relative;
          top: -1px;
          height: auto;
          width: 70px;
        }
      }
    }
  }

}

@media screen and ( min-width: 420px ) {
    
  .site-branding a.logo-50 {
      margin-left: 10px;
      
      img {
        width: 90px;
      }
    }

}